
.para {
  font-weight: bold;
  font-size: 1.4rem;
}
.para1 {
  font-weight: bold;
  margin-top: 0.3rem;
  font-size: 1.9rem;
  margin-left: 1rem;
  padding: 0.1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor-container {
  padding: .5rem;
}
.editor-container.collapse {
}

.editorCode-title {
  background-color: #1F2023;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editorCode-wrapper {
  /* flex-grow: 1; */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}
.btn {
  margin-left: 0.5rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  outline: none;
}
